POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=norway_open_data
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SSB_API_BASE_URL=https://data.ssb.no/api/v0
SSB_POPULATION_TABLE_ID=07459

AIRFLOW_UID=50000
